.left
   .user-info-mini
     img(src='https://s3-ap-northeast-1.amazonaws.com/talkmobprofile/#{user_name.id}')
     h3 #{user_name.name}
   .category-navigation
     nav#category-navigation
       ul
         li
           a(href='/taglist') 興味タグリスト
         li
           a(href='/createid') ユーザ設定
         li
           a(href='/mainboad') メインボード
         li
           a(href='/logout') ログアウト