html
  head
    title Talkmob / Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/parts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
  body
   .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
         span.icon-bar
         span.icon-bar
         span.icon-bar
        a.brand(href='./mainboad') Talk Mob
        .nav-collapse.collapse
          ul.nav
            li
              a(href='./mainboad') メインボード
            li
              a(href='./createid') ユーザ設定
            li
              a(href='./taglist') 興味タグ

   #main
      p Talk Mob
      .left
        .user-info-mini
         img(src='https://api.twitter.com/1/users/profile_image?screen_name=#{user_name}&size=bigger')
         h3 #{user_name}
        .category-navigation
          nav#category-navigation
            ul
              li
                a(href='taglist') 興味タグリスト
              li
                a(href='createid') ユーザ設定
              li
                a(href='mainboad') メインボード
              li
                a(href='logout') ログアウト
      .last(style='height:20%;')
             h3
              p.text-left 招待済みのトークルーム
             blockquote(style='background:#EFE ;padding :20px')
              p.text-left.text-success
                a(href='talkboad')
                 strong テーマ：「TPPってどうよ？」
              small.text-left 開始日：2013/04/01 タグ：[TPP] 　

      .last(style='height:70%;')
        h3
         p.text-left 開催中のトークルーム
        each item in list

             blockquote(style='background:#FAFAFA ;padding :15px')
              p.text-left.text-success
                a(href='talkboad')
                 strong テーマ：#{item.title}
              small.text-left 開始日：2013/04/01 タグ：[#{item.tagname}] 　

