html
  head
    title TalkMob / Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/parts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
  body
  include header

  #main(style='text-align:center;')
   #SignUp.logo_exp
          .dummy
             p Welcome to
          .logo Talk Mob
          .wrapper
            .content
              .dummy
              h1 Create your account to explore TalkMob.
                if user_name == null
                  ul.buttons
                    li
                      a.btn.btn-large(href='/login',style='color:black')
                        | ログイン
                    li
                      a.btn.btn-large.btn-primary(href='/createid',style='color:white')
                        | アカウント作成
                ul.buttons
                  li
                    pre(style='padding:5px;background-color:3b5998;')
                      a(href='',style='color:white;')
                        span.logo
                        | Facebook
                  li
                    pre(style='padding:5px;background-color:#12abdd;')
                      a(href='/login_tw' ,style='color:white')
                        span.logo
                        | Twitter
