html
  head
    title Talkmob / Welcome
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/parts.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
  body
#main
 #SignUp.logo_exp
          .dummy
             p Welcome to
          .logo Talk Mob
          .wrapper
            .content
              .dummy
              h1 Create your account to explore Pinterest.
                ul.buttons
                  li
                    a.BigButton.facebook(href='')
                      span.logo
                      | Facebook
                  li
                    a.BigButton.twitter(href='/login')
                      span.logo
                      | Twitter
                .footer
                  h3.login
                    span Already have an account?
                      a(href='/login/') Log in.
                  h3.login
                    span Are you a business?
                      a(href='http://business.pinterest.com/') Learn more.
        #Loading

